<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>หน้าจอการลงทะเบียน</title>

    <style>
      .header {
        position: relative;
        top: 18px;
        left: 10px;
      }
      body {
        margin: 0;
      }
      .header img {
        float: left;
        width: 100px;
        height: 100px;
      }
      .header .header-text {
        padding: 18px 10px;
      }
      .menu {
        max-width: 1000px;

        margin: 0 auto;
        border: 1px;
      }
      .table {
        width: 100%;

        text-align: center;
        margin: 1px;
      }

      .table table {
        width: 100%;
      }
      input[type="text"]:focus {
        border: 2px solid mediumseagreen;
      }
      select {
        width: 180px;
      }
      th {
        text-align: left;
        background: springgreen;
        border: 1px solid mediumseagreen;
      }
      .button {
        padding: 10px 40px;
        background-color: gray;
        color: black;
        border: 2px solid black;
      }
      option.italics {
        font-style: italic;
      }
      input[type="date"]::-webkit-inner-spin-button {
        opacity: 0
    }

    input[type="date"]::-webkit-calendar-picker-indicator {
        background: url(images/Icon02.png) center/80% no-repeat;
        color: rgba(0, 0, 0, 0);
        opacity: 0.5
    }

    input[type="date"]::-webkit-calendar-picker-indicator:hover {
        background: url(images/Icon02.png) center/80% no-repeat;
        opacity: 0.8
    }
    </style>
  </head>
  <body>
    <div class="header">
      <img
        src="images/Icon01.png"
        alt="logo"
      />
      <div class="header-text">
        <p>
          ในขั้นตอนที่ 1 ทำการลงทะเบียนก่อน เพื่อรับ <b>ชื่อผู้ใช้</b> และ
          <b>รหัสผ่าน</b>
        </p>
        <p>ใช้ในการกรอกใบสมัครในขั้นตอนที่ 2</p>
      </div>
    </div>

    <form name="myForm" action="/result" method="post">
    <div class="menu">
      <div class="table">
        <table bordercolor="springgreen">
          <tr>
            <th colspan="3">ข้อมูลทั่วไป [ภาษาไทย]</th>
          </tr>
          <tr>
            <td></td>

            <td colspan="2" style="text-align: center">
              หมายเลขบัตรประชาชน
              <input type="text" pattern="\d*" name="id" maxlength="13" required />
            </td>
          </tr>
          <tr>
            <td>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label
                style="text-decoration: underline;"
                >คำนำหน้า</label
              >&nbsp;
              <select name="prefix">
                <option class="italics" value="เลือก...">เลือก...</option>
                <option class="italics" value="นาย">นาย</option>
                <option class="italics" value="นางสาว">นางสาว</option>
                <option class="italics" value="นาง">นาง</option>
              </select>
            </td>
            <td>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label
                style="text-decoration: underline;"
                >ชื่อ</label
              >&nbsp;<input type="text" name="fname" />
            </td>
            <td>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label
                style="text-decoration: underline;"
                >นามสกุล</label
              >&nbsp;<input type="text" id="3" name="lname" />
            </td>
          </tr>
          <tr>
            <td>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ชื่อเล่น&nbsp;<input
                type="text"
                name="nickname"
              />
            </td>
            <td>
              <label style="text-decoration: underline;"
                >วัน/เดือน/ปี เกิด</label
              >&nbsp;<input type="date" name="birthdate" />
            </td>
          </tr>
          <tr>
            <td>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label
                style="text-decoration: underline;"
                >จังหวัด</label
              >&nbsp;
              <select name="province">
                <option value="เลือก...">เลือก...</option>
                <option value="ชลบุรี">ชลบุรี</option>
              </select>
            </td>
            <td>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label
                style="text-decoration: underline;"
                >อำเภอ/เขต</label
              >
              <select name="county">
                <option value="เลือก...">เลือก...</option>
                <option value="พนัสนิคม">พนัสนิคม</option>
              </select>
            </td>
            <td>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label
                style="text-decoration: underline;"
                >ตำบล/แขวง</label
              >
              <select id="district">
                <option value="เลือก...">เลือก...</option>
                <option value="หน้าพระธาตุ">หน้าพระธาตุ</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>
              <label style="text-decoration: underline;">บ้านเลขที่</label
              >&nbsp;<input type="text" name="houseno" />
            </td>
            <td>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label
                style="text-decoration: underline;"
                >ถนน</label
              >&nbsp;<input type="text" name="road" />
            </td>
            <td>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label
                style="text-decoration: underline;"
                >รหัสไปรษณีย์</label
              >&nbsp;<input type="text" pattern="\d*" name="zips" maxlength="5" required />
            </td>
          </tr>
          <tr>
            <td>
              &nbsp;
              <label style="text-decoration: underline">โทรศัพท์</label
              >&nbsp;<input type="text" pattern="\d*" name="telephone" maxlength="9" />
            </td>
            <td>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label
                style="text-decoration: underline;"
                >โทรสาร</label
              >&nbsp;<input type="text" pattern="\d*" name="fax" maxlength="9" />
            </td>
            <td>
              <label style="text-decoration: underline;"
                >เบอร์โทรศัพท์มือถือ</label
              >&nbsp;<input type="text" pattern="\d*" name="smartphone" maxlength="10" />
            </td>
          </tr>
          <tr>
            <td colspan="2">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label
                style="text-decoration: underline;"
                >อีเมล</label
              >&nbsp;<input
                style="width: 500px"
                type="email"
                name="email"
                required
              />
            </td>
            <td>
              <p style="text-decoration: none; color: red;">
                *ใช้ในการรับรหัสผ่าน กรณีลืมรหัสผ่าน
              </p>
            </td>
          </tr>

          <tr>
            <th colspan="3">ข้อมูลทั่วไป [ภาษาอังกฤษ]</th>
          </tr>
          <tr>
            <td> <br>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Prefix
              <select name="prefix_en">
                <option value="Mr.">Mr.</option>
                <option value="Mrs.">Mrs.</option>
                <option value="Miss">miss</option>
              </select>
              <br>
            </td>
            <td><br>&nbsp;&nbsp;&nbsp;<label style="text-decoration: underline;">First name</label>&nbsp;<input type="text" name="fname_en" /> <br></td>
            <td><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label style="text-decoration: underline;">Last name</label>&nbsp;<input type="text" name="lname_en" /> <br></td>
          </tr>
          
          <tr>
            
            <th
              colspan="3"
              style="text-align:right; "
              /* background-color: rgb(234, 242, 248); */
            >
              <input type="submit" class="button" value="ตกลง"/>
              <input type="reset" class="button" value="ยกเลิก"/>
            
            </th>
          </tr>
        </table>
      </div>
    </div>
  </form>
    <script>
      function setnull(){
        document.getElementByName("id").reset();
      }
    </script>
  </body>
</html>
