<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>รายงาน</title>
    <style>
      .header {
        position: relative;
        top: 18px;
        left: 10px;
      }
      body {
        margin: 0;
      }
      .header img {
        float: left;
        width: 100px;
        height: 100px;
      }
      .header .header-text {
        padding: 18px 10px;
      }
      .menu {
        max-width: 1000px;

        margin: 0 auto;
        border: 1px;
      }
      .table {
        width: 100%;

        text-align: center;
        margin: 1px;
      }

      .table table {
        width: 100%;
      }
      input[type="text"]:focus {
        border: 2px solid mediumseagreen;
      }
      select {
        width: 180px;
      }
      th {
        text-align: left;
        background: springgreen;
        border: 1px solid mediumseagreen;
      }
      .button {
        background-color: rgb(113, 207, 238);
        border: none;
        color: white;
        padding: 10px 50px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 10px;
      }
    </style>
  </head>
  <body>
    <div class="menu" style="margin-top: 10px">
      <div class="table">
        <table bordercolor="springgreen">
          <tr>
            <th colspan="4">รายงานข้อมูลผู้สมัคร สส.เขต</th>
          </tr>

          <tr>
            <td>
              คำนำหน้า:
              <%= prefix %>
            </td>
            <td>ชื่อ: <%= fname %></td>
            <td>นามสกุล: <%= lname %></td>
            <td>หมายเลขบัตรประชาชน: <%= id %></td>
          </tr>

          <tr>
            <td>ชื่อเล่น: <%= nickname %></td>
            <td>วัน/เดือน/ปี เกิด: <%= birthdate %></td>

            <td></td>
          </tr>
          <tr>
            <td>
              จังหวัด:
              <%= province %>
            </td>
            <td>
              อำเภอ/เขต:
               <%= county %>
            </td>
            <td>
              ตำบล/แขวง:
              <%= district %>
            </td>
          </tr>
          <tr>
            <td>บ้านเลขที่: <%= houseno %></td>
            <td>ถนน: <%= road %></td>
            <td>รหัสไปรษณีย์:<%= zips %></td>
          </tr>
          <tr>
            <td>โทรศัพท์: <%= telephone %></td>
            <td>โทรสาร: <%= fax %></td>
            <td>เบอร์โทรศัพท์มือถือ: <%= smartphone %></td>
          </tr>
          <tr>
            <td colspan="2">อีเมล: <%= email %></td>
          </tr>
          <table bordercolor="springgreen" style="margin-top: 5px;">
            <tr>
              <th
                colspan="3"
                style="text-align:right; background-color: white;"
              >
                <button class="button">ปริ้น</button>
                <button class="button">ยกเลิก</button>
              </th>
            </tr>
            
          </table>
        </table>
      </div>
    </div>
  </body>
</html>
